@use 'variables';
@use 'colors';

body {
  font-family: 'Poppins', sans-serif;
  font-size: variables.$font-size-base;
  line-height: 1.6;
  color: colors.$color-dark-gray;
  background-color: colors.$color-white;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 variables.$spacing-md 0;
  color: colors.$color-dark-gray;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}


p {
  font-size: variables.$font-size-base;
  margin-bottom: variables.$spacing-md;
  color: colors.$color-dark-gray;
}

a {
  color: colors.$color-primary;
  text-decoration: none;
  transition: color variables.$transition-fast;

  &:hover {
    color: colors.$color-secondary;
  }
}